.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-start;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}



.product-image {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 0.75rem;
}
